#container {
   margin: 0;
   min-height: 100vh !important;
   min-width: 100vw !important;
   background-image: url('https://wallpaperaccess.com/full/196120.jpg') !important;
   background-repeat: no-repeat !important;
   background-attachment: fixed;
}

#header {
   font-size: 2.5em;
   padding: 5rem 6rem 2rem;
   text-align: center;
}

#sub-container {
   margin: 0 13rem;
}

#question-box {
   font-size: 2rem;
}

#button-container {
   padding: 3rem 1.5rem 20rem
}

.list-items {
   padding: .5rem !important;
}

.checkbox-items {
   font-size: 1.25rem !important;
}

@media only screen and (max-width: 1200px) {
   #sub-container {
      margin: 0 6rem;
   }
}


@media only screen and (max-width: 800px) {
   #header {
      font-size: 1.5em;
      padding: 2rem 1rem 1rem;
   }

   #sub-container {
      margin: 0 1rem;
   }
}

@media only screen and (max-width: 500px) {
   #header {
      font-size: 1.5em;
      padding: 2rem 1rem 1rem;
   }

   #sub-container {
      margin: 0;
   }
}